<table class="profile">
  <tr>
    <td class="main">
      <h2>
        <%= h @child.name %>
      </h2>
      <h3 class="micropost">Update:</h3>
      <%= render 'pages/micropost_form' %>

      <% unless @child.microposts.empty? %>
        <table class="microposts">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>
    </td>
    <td class="sidebar round">
      <%= render 'child_info' %>
      <br/>
      <b>Parents</b>
      <span class="child_parents">
        <%= render @users %>
      </span>

    </td>
  </tr>
</table>
