<table>
  <tr>
    <td class="main">
      <h2><%= @title %></h2>

      <% unless @offspring.empty? %>
        <ul class="users">
          <%= render @offspring %>
        </ul>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= h @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />

      <%= render 'pages/stats' %>


    </td>
  </tr>
</table>
